<%= javascript_include_tag "select2.min.js", :plugin => "ems_am_redmine"%>
<%= stylesheet_link_tag "select2.min.css", :plugin => "ems_am_redmine"%>
<%= stylesheet_link_tag "style.css", :plugin => "ems_am_redmine"%>
<%= labelled_fields_for :issue, @issue do |f| %>
<%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>
<%= hidden_field_tag 'form_update_triggered_by', '' %>
<% if @issue.safe_attribute? 'is_private' %>
  <%if Redmine::VERSION::MAJOR >= 3 && Redmine::VERSION::MINOR >=3 %>
    <p id="issue_is_private_wrap">
      <%= f.check_box :is_private, :no_label => true %><label class="inline" for="issue_is_private" id="issue_is_private_label"><%= l(:field_is_private) %></label>
    </p>
  <%else%>
    <p style="float:right; margin-right:1em;">
      <%= f.check_box :is_private, :no_label => true %><label class="inline" for="issue_is_private" id="issue_is_private_label"><%= l(:field_is_private) %></label>
    </p>
  <%end%>
<% end %>

<% if (@issue.safe_attribute?('project_id') || @issue.project_id_changed?) && (!@issue.new_record? || @project.nil? || @issue.copy?) %>
<p><%= f.select :project_id, project_tree_options_for_select(@issue.allowed_target_projects, :selected => @issue.project), {:required => true},
                :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %></p>
<% end %>

<% if @issue.safe_attribute? 'tracker_id'%>
  <%if Redmine::VERSION::MAJOR >= 3 && Redmine::VERSION::MINOR >=3 %>
    <p><%= f.select :tracker_id, trackers_options_for_select(@issue), {:required => true},
                  :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %></p>
  <%else%>
    <p><%= f.select :tracker_id, @issue.project.trackers.collect {|t| [t.name, t.id]}, {:required => true},
                  :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %></p>
  <%end%>
<% end %>

<!-- EMS AM plugin  code -->
<% if @issue.safe_attribute?('project_ids') && !@issue.try(:parent_issue_id).present? %>
  <p class="select-project">
    <%= label_tag 'issue[project_ids][]','Linked Projects :'%>
  
    <%= select_tag 'issue[project_ids][]', project_tree_options_for_select(@issue.project.projects_list, :selected => @issue.projects.present? ? @issue.projects.uniq! : @issue.project), {multiple:true,:id=>"multi_select_dropdown"} %>
  </p>
<% end %>
<!-- EMS AM plugin  code -->

<% if @issue.safe_attribute? 'subject' %>
<p><%= f.text_field :subject, :size => 80, :maxlength => 255, :required => true %></p>
<% end %>

<% if @issue.safe_attribute? 'description' %>
<p>
  <%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
  <%= link_to_function content_tag(:span, l(:button_edit), :class => 'icon icon-edit'), '$(this).hide(); $("#issue_description_and_toolbar").show()' unless @issue.new_record? %>
  <%= content_tag 'span', :id => "issue_description_and_toolbar", :style => (@issue.new_record? ? nil : 'display:none') do %>
    <%= f.text_area :description,
                   :cols => 60,
                   :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit',
                   :no_label => true %>
  <% end %>
</p>
<%= wikitoolbar_for 'issue_description' %>
<% end %>

<div id="attributes" class="attributes">
  <%= render :partial => 'issues/attributes' %>
</div>

<%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>
<% end %>

<% heads_for_wiki_formatter %>

<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
  $('#multi_select_dropdown').select2();
});

<% end %>

